<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bright.dev.dao.ConsumerMapper">
  <resultMap id="BaseResultMap" type="com.bright.dev.entity.Consumer">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="sms_amout" jdbcType="VARCHAR" property="smsAmout" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, sms_amout, user_password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consumer
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from consumer
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bright.dev.entity.Consumer">
    insert into consumer (user_id, user_name, sms_amout, 
      user_password)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{smsAmout,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bright.dev.entity.Consumer">
    insert into consumer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="smsAmout != null">
        sms_amout,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="smsAmout != null">
        #{smsAmout,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bright.dev.entity.Consumer">
    update consumer
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="smsAmout != null">
        sms_amout = #{smsAmout,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bright.dev.entity.Consumer">
    update consumer
    set user_name = #{userName,jdbcType=VARCHAR},
      sms_amout = #{smsAmout,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>