<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcm.dao.InstanceMapper">
  <resultMap id="BaseResultMap" type="com.dcm.entity.Instance">
    <id column="pk" jdbcType="BIGINT" property="pk" />
    <result column="availability" jdbcType="INTEGER" property="availability" />
    <result column="sr_complete" jdbcType="VARCHAR" property="srComplete" />
    <result column="content_date" jdbcType="VARCHAR" property="contentDate" />
    <result column="content_time" jdbcType="VARCHAR" property="contentTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="ext_retrieve_aet" jdbcType="VARCHAR" property="extRetrieveAet" />
    <result column="inst_custom1" jdbcType="VARCHAR" property="instCustom1" />
    <result column="inst_custom2" jdbcType="VARCHAR" property="instCustom2" />
    <result column="inst_custom3" jdbcType="VARCHAR" property="instCustom3" />
    <result column="inst_no" jdbcType="INTEGER" property="instNo" />
    <result column="num_frames" jdbcType="INTEGER" property="numFrames" />
    <result column="retrieve_aets" jdbcType="VARCHAR" property="retrieveAets" />
    <result column="sop_cuid" jdbcType="VARCHAR" property="sopCuid" />
    <result column="sop_iuid" jdbcType="VARCHAR" property="sopIuid" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="sr_verified" jdbcType="VARCHAR" property="srVerified" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="dicomattrs_fk" jdbcType="BIGINT" property="dicomattrsFk" />
    <result column="srcode_fk" jdbcType="BIGINT" property="srcodeFk" />
    <result column="reject_code_fk" jdbcType="BIGINT" property="rejectCodeFk" />
    <result column="series_fk" jdbcType="BIGINT" property="seriesFk" />
  </resultMap>
  <sql id="Base_Column_List">
    pk, availability, sr_complete, content_date, content_time, created_time, ext_retrieve_aet, 
    inst_custom1, inst_custom2, inst_custom3, inst_no, num_frames, retrieve_aets, sop_cuid, 
    sop_iuid, updated_time, sr_verified, version, dicomattrs_fk, srcode_fk, reject_code_fk, 
    series_fk
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from instance
    where pk = #{pk,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from instance
    where pk = #{pk,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dcm.entity.Instance">
    insert into instance (pk, availability, sr_complete, 
      content_date, content_time, created_time, 
      ext_retrieve_aet, inst_custom1, inst_custom2, 
      inst_custom3, inst_no, num_frames, 
      retrieve_aets, sop_cuid, sop_iuid, 
      updated_time, sr_verified, version, 
      dicomattrs_fk, srcode_fk, reject_code_fk, 
      series_fk)
    values (#{pk,jdbcType=BIGINT}, #{availability,jdbcType=INTEGER}, #{srComplete,jdbcType=VARCHAR}, 
      #{contentDate,jdbcType=VARCHAR}, #{contentTime,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{extRetrieveAet,jdbcType=VARCHAR}, #{instCustom1,jdbcType=VARCHAR}, #{instCustom2,jdbcType=VARCHAR}, 
      #{instCustom3,jdbcType=VARCHAR}, #{instNo,jdbcType=INTEGER}, #{numFrames,jdbcType=INTEGER}, 
      #{retrieveAets,jdbcType=VARCHAR}, #{sopCuid,jdbcType=VARCHAR}, #{sopIuid,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{srVerified,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}, 
      #{dicomattrsFk,jdbcType=BIGINT}, #{srcodeFk,jdbcType=BIGINT}, #{rejectCodeFk,jdbcType=BIGINT}, 
      #{seriesFk,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dcm.entity.Instance">
    insert into instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        pk,
      </if>
      <if test="availability != null">
        availability,
      </if>
      <if test="srComplete != null">
        sr_complete,
      </if>
      <if test="contentDate != null">
        content_date,
      </if>
      <if test="contentTime != null">
        content_time,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="extRetrieveAet != null">
        ext_retrieve_aet,
      </if>
      <if test="instCustom1 != null">
        inst_custom1,
      </if>
      <if test="instCustom2 != null">
        inst_custom2,
      </if>
      <if test="instCustom3 != null">
        inst_custom3,
      </if>
      <if test="instNo != null">
        inst_no,
      </if>
      <if test="numFrames != null">
        num_frames,
      </if>
      <if test="retrieveAets != null">
        retrieve_aets,
      </if>
      <if test="sopCuid != null">
        sop_cuid,
      </if>
      <if test="sopIuid != null">
        sop_iuid,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="srVerified != null">
        sr_verified,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="dicomattrsFk != null">
        dicomattrs_fk,
      </if>
      <if test="srcodeFk != null">
        srcode_fk,
      </if>
      <if test="rejectCodeFk != null">
        reject_code_fk,
      </if>
      <if test="seriesFk != null">
        series_fk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        #{pk,jdbcType=BIGINT},
      </if>
      <if test="availability != null">
        #{availability,jdbcType=INTEGER},
      </if>
      <if test="srComplete != null">
        #{srComplete,jdbcType=VARCHAR},
      </if>
      <if test="contentDate != null">
        #{contentDate,jdbcType=VARCHAR},
      </if>
      <if test="contentTime != null">
        #{contentTime,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extRetrieveAet != null">
        #{extRetrieveAet,jdbcType=VARCHAR},
      </if>
      <if test="instCustom1 != null">
        #{instCustom1,jdbcType=VARCHAR},
      </if>
      <if test="instCustom2 != null">
        #{instCustom2,jdbcType=VARCHAR},
      </if>
      <if test="instCustom3 != null">
        #{instCustom3,jdbcType=VARCHAR},
      </if>
      <if test="instNo != null">
        #{instNo,jdbcType=INTEGER},
      </if>
      <if test="numFrames != null">
        #{numFrames,jdbcType=INTEGER},
      </if>
      <if test="retrieveAets != null">
        #{retrieveAets,jdbcType=VARCHAR},
      </if>
      <if test="sopCuid != null">
        #{sopCuid,jdbcType=VARCHAR},
      </if>
      <if test="sopIuid != null">
        #{sopIuid,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="srVerified != null">
        #{srVerified,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="dicomattrsFk != null">
        #{dicomattrsFk,jdbcType=BIGINT},
      </if>
      <if test="srcodeFk != null">
        #{srcodeFk,jdbcType=BIGINT},
      </if>
      <if test="rejectCodeFk != null">
        #{rejectCodeFk,jdbcType=BIGINT},
      </if>
      <if test="seriesFk != null">
        #{seriesFk,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcm.entity.Instance">
    update instance
    <set>
      <if test="availability != null">
        availability = #{availability,jdbcType=INTEGER},
      </if>
      <if test="srComplete != null">
        sr_complete = #{srComplete,jdbcType=VARCHAR},
      </if>
      <if test="contentDate != null">
        content_date = #{contentDate,jdbcType=VARCHAR},
      </if>
      <if test="contentTime != null">
        content_time = #{contentTime,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extRetrieveAet != null">
        ext_retrieve_aet = #{extRetrieveAet,jdbcType=VARCHAR},
      </if>
      <if test="instCustom1 != null">
        inst_custom1 = #{instCustom1,jdbcType=VARCHAR},
      </if>
      <if test="instCustom2 != null">
        inst_custom2 = #{instCustom2,jdbcType=VARCHAR},
      </if>
      <if test="instCustom3 != null">
        inst_custom3 = #{instCustom3,jdbcType=VARCHAR},
      </if>
      <if test="instNo != null">
        inst_no = #{instNo,jdbcType=INTEGER},
      </if>
      <if test="numFrames != null">
        num_frames = #{numFrames,jdbcType=INTEGER},
      </if>
      <if test="retrieveAets != null">
        retrieve_aets = #{retrieveAets,jdbcType=VARCHAR},
      </if>
      <if test="sopCuid != null">
        sop_cuid = #{sopCuid,jdbcType=VARCHAR},
      </if>
      <if test="sopIuid != null">
        sop_iuid = #{sopIuid,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="srVerified != null">
        sr_verified = #{srVerified,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="dicomattrsFk != null">
        dicomattrs_fk = #{dicomattrsFk,jdbcType=BIGINT},
      </if>
      <if test="srcodeFk != null">
        srcode_fk = #{srcodeFk,jdbcType=BIGINT},
      </if>
      <if test="rejectCodeFk != null">
        reject_code_fk = #{rejectCodeFk,jdbcType=BIGINT},
      </if>
      <if test="seriesFk != null">
        series_fk = #{seriesFk,jdbcType=BIGINT},
      </if>
    </set>
    where pk = #{pk,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcm.entity.Instance">
    update instance
    set availability = #{availability,jdbcType=INTEGER},
      sr_complete = #{srComplete,jdbcType=VARCHAR},
      content_date = #{contentDate,jdbcType=VARCHAR},
      content_time = #{contentTime,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      ext_retrieve_aet = #{extRetrieveAet,jdbcType=VARCHAR},
      inst_custom1 = #{instCustom1,jdbcType=VARCHAR},
      inst_custom2 = #{instCustom2,jdbcType=VARCHAR},
      inst_custom3 = #{instCustom3,jdbcType=VARCHAR},
      inst_no = #{instNo,jdbcType=INTEGER},
      num_frames = #{numFrames,jdbcType=INTEGER},
      retrieve_aets = #{retrieveAets,jdbcType=VARCHAR},
      sop_cuid = #{sopCuid,jdbcType=VARCHAR},
      sop_iuid = #{sopIuid,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      sr_verified = #{srVerified,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      dicomattrs_fk = #{dicomattrsFk,jdbcType=BIGINT},
      srcode_fk = #{srcodeFk,jdbcType=BIGINT},
      reject_code_fk = #{rejectCodeFk,jdbcType=BIGINT},
      series_fk = #{seriesFk,jdbcType=BIGINT}
    where pk = #{pk,jdbcType=BIGINT}
  </update>
</mapper>