<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcm.dao.JpcloudStudyMapper">
  <select id="select" parameterType="com.dcm.entity.JpcloudStudy" resultType="com.dcm.entity.JpcloudStudy">
    SELECT studyInstUID,hiscode FROM jpcloud.Study
			  
  </select>
  <select id="select1" parameterType="String" resultType="String">
    SELECT hiscode FROM jpcloud.Study where studyInstUID = #{studyInstUid}
			  
  </select>
  <!--  <select id="select1" parameterType="com.dcm.entity.Sign" resultMap="com.dcm.entity.Sign">
    select 
    storage_path from location
  </select> -->
</mapper>