<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcm.dao.LocationMapper">
  <resultMap id="BaseResultMap" type="com.dcm.entity.Location">
    <id column="pk" jdbcType="BIGINT" property="pk" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="digest" jdbcType="VARCHAR" property="digest" />
    <result column="multi_ref" jdbcType="INTEGER" property="multiRef" />
    <result column="object_type" jdbcType="INTEGER" property="objectType" />
    <result column="object_size" jdbcType="BIGINT" property="objectSize" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="storage_id" jdbcType="VARCHAR" property="storageId" />
    <result column="storage_path" jdbcType="VARCHAR" property="storagePath" />
    <result column="tsuid" jdbcType="VARCHAR" property="tsuid" />
    <result column="instance_fk" jdbcType="BIGINT" property="instanceFk" />
    <result column="uidmap_fk" jdbcType="BIGINT" property="uidmapFk" />
    <result column="Lodelete" jdbcType="VARCHAR" property="lodelete" />
  </resultMap>
  <sql id="Base_Column_List">
    pk, created_time, digest, multi_ref, object_type, object_size, status, storage_id, 
    storage_path, tsuid, instance_fk, uidmap_fk, Lodelete
  </sql>
  <select id="selectae" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    pk, created_time,storage_path
    from location
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from location
    where pk = #{pk,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from location
    where pk = #{pk,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dcm.entity.Location">
    insert into location (pk, created_time, digest, 
      multi_ref, object_type, object_size, 
      status, storage_id, storage_path, 
      tsuid, instance_fk, uidmap_fk, 
      Lodelete)
    values (#{pk,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{digest,jdbcType=VARCHAR}, 
      #{multiRef,jdbcType=INTEGER}, #{objectType,jdbcType=INTEGER}, #{objectSize,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{storageId,jdbcType=VARCHAR}, #{storagePath,jdbcType=VARCHAR}, 
      #{tsuid,jdbcType=VARCHAR}, #{instanceFk,jdbcType=BIGINT}, #{uidmapFk,jdbcType=BIGINT}, 
      #{lodelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcm.entity.Location">
    insert into location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        pk,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="digest != null">
        digest,
      </if>
      <if test="multiRef != null">
        multi_ref,
      </if>
      <if test="objectType != null">
        object_type,
      </if>
      <if test="objectSize != null">
        object_size,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="storageId != null">
        storage_id,
      </if>
      <if test="storagePath != null">
        storage_path,
      </if>
      <if test="tsuid != null">
        tsuid,
      </if>
      <if test="instanceFk != null">
        instance_fk,
      </if>
      <if test="uidmapFk != null">
        uidmap_fk,
      </if>
      <if test="lodelete != null">
        Lodelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        #{pk,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="digest != null">
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="multiRef != null">
        #{multiRef,jdbcType=INTEGER},
      </if>
      <if test="objectType != null">
        #{objectType,jdbcType=INTEGER},
      </if>
      <if test="objectSize != null">
        #{objectSize,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="storageId != null">
        #{storageId,jdbcType=VARCHAR},
      </if>
      <if test="storagePath != null">
        #{storagePath,jdbcType=VARCHAR},
      </if>
      <if test="tsuid != null">
        #{tsuid,jdbcType=VARCHAR},
      </if>
      <if test="instanceFk != null">
        #{instanceFk,jdbcType=BIGINT},
      </if>
      <if test="uidmapFk != null">
        #{uidmapFk,jdbcType=BIGINT},
      </if>
      <if test="lodelete != null">
        #{lodelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcm.entity.Location">
    update location
    <set>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="digest != null">
        digest = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="multiRef != null">
        multi_ref = #{multiRef,jdbcType=INTEGER},
      </if>
      <if test="objectType != null">
        object_type = #{objectType,jdbcType=INTEGER},
      </if>
      <if test="objectSize != null">
        object_size = #{objectSize,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="storageId != null">
        storage_id = #{storageId,jdbcType=VARCHAR},
      </if>
      <if test="storagePath != null">
        storage_path = #{storagePath,jdbcType=VARCHAR},
      </if>
      <if test="tsuid != null">
        tsuid = #{tsuid,jdbcType=VARCHAR},
      </if>
      <if test="instanceFk != null">
        instance_fk = #{instanceFk,jdbcType=BIGINT},
      </if>
      <if test="uidmapFk != null">
        uidmap_fk = #{uidmapFk,jdbcType=BIGINT},
      </if>
      <if test="lodelete != null">
        Lodelete = #{lodelete,jdbcType=VARCHAR},
      </if>
    </set>
    where pk = #{pk,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcm.entity.Location">
    update location
    set created_time = #{createdTime,jdbcType=TIMESTAMP},
      digest = #{digest,jdbcType=VARCHAR},
      multi_ref = #{multiRef,jdbcType=INTEGER},
      object_type = #{objectType,jdbcType=INTEGER},
      object_size = #{objectSize,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      storage_id = #{storageId,jdbcType=VARCHAR},
      storage_path = #{storagePath,jdbcType=VARCHAR},
      tsuid = #{tsuid,jdbcType=VARCHAR},
      instance_fk = #{instanceFk,jdbcType=BIGINT},
      uidmap_fk = #{uidmapFk,jdbcType=BIGINT},
      Lodelete = #{lodelete,jdbcType=VARCHAR}
    where pk = #{pk,jdbcType=BIGINT}
  </update>
</mapper>