<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcm.dao.SignMapper">
  <resultMap id="BaseResultMap" type="com.dcm.entity.Sign">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="sopInstUID" jdbcType="VARCHAR" property="sopinstuid" />
    <result column="StudyInstanseUID" jdbcType="VARCHAR" property="studyinstanseuid" />
    <result column="SeriesInstanceUID" jdbcType="VARCHAR" property="seriesinstanceuid" />
    <result column="presentID" jdbcType="VARCHAR" property="presentid" />
    <result column="json" jdbcType="VARCHAR" property="json" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, sopInstUID, StudyInstanseUID, SeriesInstanceUID, presentID, json
  </sql>
  <select id="select" parameterType="com.dcm.entity.Sign" resultMap="BaseResultMap">
    select 
    json from sign
    where sopInstUID = #{sopinstuid,jdbcType=VARCHAR} and 
    StudyInstanseUID = #{studyinstanseuid,jdbcType=VARCHAR} and 
    SeriesInstanceUID = #{seriesinstanceuid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sign
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sign
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dcm.entity.Sign">
    insert into sign (ID, sopInstUID, StudyInstanseUID, 
      SeriesInstanceUID, presentID, json
      )
    values (#{id,jdbcType=VARCHAR}, #{sopinstuid,jdbcType=VARCHAR}, #{studyinstanseuid,jdbcType=VARCHAR}, 
      #{seriesinstanceuid,jdbcType=VARCHAR}, #{presentid,jdbcType=VARCHAR}, #{json,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dcm.entity.Sign">
    insert into sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sopinstuid != null">
        sopInstUID,
      </if>
      <if test="studyinstanseuid != null">
        StudyInstanseUID,
      </if>
      <if test="seriesinstanceuid != null">
        SeriesInstanceUID,
      </if>
      <if test="presentid != null">
        presentID,
      </if>
      <if test="json != null">
        json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sopinstuid != null">
        #{sopinstuid,jdbcType=VARCHAR},
      </if>
      <if test="studyinstanseuid != null">
        #{studyinstanseuid,jdbcType=VARCHAR},
      </if>
      <if test="seriesinstanceuid != null">
        #{seriesinstanceuid,jdbcType=VARCHAR},
      </if>
      <if test="presentid != null">
        #{presentid,jdbcType=VARCHAR},
      </if>
      <if test="json != null">
        #{json,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcm.entity.Sign">
    update sign
    <set>
      <if test="sopinstuid != null">
        sopInstUID = #{sopinstuid,jdbcType=VARCHAR},
      </if>
      <if test="studyinstanseuid != null">
        StudyInstanseUID = #{studyinstanseuid,jdbcType=VARCHAR},
      </if>
      <if test="seriesinstanceuid != null">
        SeriesInstanceUID = #{seriesinstanceuid,jdbcType=VARCHAR},
      </if>
      <if test="presentid != null">
        presentID = #{presentid,jdbcType=VARCHAR},
      </if>
      <if test="json != null">
        json = #{json,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <update id="update" parameterType="com.dcm.entity.Sign">
    update sign  set
    json = #{json,jdbcType=VARCHAR}
    where sopInstUID = #{sopinstuid,jdbcType=VARCHAR} and 
    StudyInstanseUID = #{studyinstanseuid,jdbcType=VARCHAR} and 
    SeriesInstanceUID = #{seriesinstanceuid,jdbcType=VARCHAR} and 
    presentID = #{presentid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcm.entity.Sign">
    update sign
    set sopInstUID = #{sopinstuid,jdbcType=VARCHAR},
      StudyInstanseUID = #{studyinstanseuid,jdbcType=VARCHAR},
      SeriesInstanceUID = #{seriesinstanceuid,jdbcType=VARCHAR},
      presentID = #{presentid,jdbcType=VARCHAR},
      json = #{json,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>